:root {
  --color-black: #000;
  --color-white: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: var(--color-white);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

fieldset {
  border: none;
}

input {
  cursor: pointer;
  border: none;
  background: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: end;
  margin: auto;
  width: 1140px;
  gap: 30px;
}

.result {
  width: 62.37%;
}

.result__video-container {
  width: 100%;
  height: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-top: 16px;
}

.search-form__fieldset-title {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  color: var(--color-white);
  margin-bottom: 5px;  
}

.search-form__fieldset {
 font: inherit; 
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  background: none;
  padding: 0;
  border: 1px solid var(--color-white);
  align-items: center;
  white-space: nowrap;
  font: inherit;
  color: inherit;
  background: transparent;
  font-weight: 700;
  line-height: 21.6px;
  user-select: none;

  &:hover {
    text-decoration: 1px underline var(--color-white);
    text-decoration-skip-ink: none;
  }

  &:active {
    background: #545050;
  }

  &:focus-visible {
    outline: 1px solid var(--color-white);
    outline-offset: 1px;
  }

}

.search-form__submit-button {
  width: 194px;
  padding: 6px 73.5px;
}

.search-form__checkbox-list {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 5px;
}

.search-form__label {
  display: inline-flex;
  position: relative;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  user-select: none;
  gap: 5px;

  &:hover {
    .search-form__label-text {
    text-decoration: 1px underline var(--color-white);
    text-decoration-skip-ink: none;
    }
  }

  &:has(.search-form__checkbox:focus-visible) {
    outline: 1px solid currentColor;
    outline-offset: 1px;
  }
}

.search-form__label:has(.search-form__checkbox:checked) .search-form__pseudo-checkbox::after {
  content: '';
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background-color: var(--color-white);
}

.search-form__textfield {
  display: flex;
  position: relative;
  width: 225px;
  padding-top: 2.5px;
  font: inherit;
  border-top: 1px solid var(--color-white);
  border-bottom: 1px solid var(--color-white);
  background: transparent;
  appearance: none; 

  &:active {
    border: 1px solid transparent;
    outline: 1px solid var(--color-white);
  }
  
  &:hover {
    cursor: auto;
    color: var(--color-white);
  }
  
  &:focus-visible {
    outline: 1px solid var(--color-white);
    outline-offset: 1px;
  }

}

.search-form__label-text {
  appearance: none;
  cursor: pointer;
}


.search-form__pseudo-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid var(--color-white);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  background: transparent;
  cursor: pointer;
}


.content__details {
  width: 35%;
 
}

.content__list {
  display: flex;
  flex-direction: column;
  height: 298px;
  overflow: auto;
  position: relative;
}


.content__card-link {
  display: block;
  color: var(--color-white);
  

  &.content__card-link_current {
    background-color: #545050;
  }

  &:hover {
    text-decoration: 1px underline var(--color-white);
  }
  
  &:active{
    background: #545050;
  }
  
  &:focus-visible {
    outline: 1px solid var(--color-white);
    outline-offset: 1px;
  }
}


.content__video-card {
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
  color: var(--color-white);
  margin-bottom: 18px;
}

.content__accent {
  color: #545050;
}

.content__list-item:not(:last-of-type) {
  margin-bottom: 32px;
}

.content__video-card-thumbnail {
  width: 48.62%;
}

.content__video-card-description-container {
  width: 50.12%;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 95%;
  margin-bottom: 6px;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif; 
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  color: var(--color-white);
}

.more-button {
  width: 100%;
  padding: 6px;
}